@model desafio_final_atos.Models.ItemVenda

@{
    ViewData["Title"] = "Editar item";
}

<h1>Editar item</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdItemVenda" />
            <div class="form-group">
                <label asp-for="IdProduto" class="control-label"></label>
                <select asp-for="IdProduto" class="form-control" asp-items="ViewBag.IdProduto"></select>
                <span asp-validation-for="IdProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVenda" class="control-label"></label>
                <select asp-for="IdVenda" class="form-control" asp-items="ViewBag.IdVenda"></select>
                <span asp-validation-for="IdVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input id="itemVendaQuantidade" asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoUnitario" class="control-label"></label>
                <input id="itemVendaPrecoUnitario" asp-for="PrecoUnitario" class="form-control" />
                <span asp-validation-for="PrecoUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoTotal" class="control-label"></label>
                <input id="itemVendaPrecoTotal" disabled asp-for="PrecoTotal" class="form-control" />
                <span asp-validation-for="PrecoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-outline-secondary text-dark" type="submit" value="Salvar"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-secondary text-dark" asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
