@model desafio_final_atos.Models.Venda

@{
    ViewData["Title"] = "Cadastrar Vendas";
}

<h1>Cadastrar Vendas</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class ="form-control" asp-items="ViewBag.IdCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProduto" class="control-label"></label>
                <select asp-for="IdProduto" class ="form-control" asp-items="ViewBag.IdProduto"></select>
               
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoUnitario" class="control-label"></label>
               
                 <select asp-for="PrecoUnitario" class ="form-control" asp-items="ViewBag.Preco"></select>
                <span asp-validation-for="PrecoUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoTotal" class="control-label"></label>
                <input asp-for="PrecoTotal" class="form-control" />
                <span asp-validation-for="PrecoTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
