@{
    ViewData["Title"] = "Mercader";
}


    <h1 class="display-4">Aqui vai ficar a foto da minha logo</h1>
    <img  class="img-fluid"  src="~/css/FotoPrincipal.png" alt="Sample Photo" width="100%" />


