html {
  font-size: 14px;
  color: aliceblue;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(background-cinza-para-site.jpg);
    
    
}

 tr th{
    border-bottom: 1px solid black;
}
 tr td {
    border-bottom: 1px solid black;
}


 .menu {
     margin-left: 10px;
 }